{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Completed</th><th></th><th></th><th></th>
        {% for todo in todos_read %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo_get', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_update', id=todo.id, is_completed=not todo.is_completed) }}">
                        <td>
                            {% if todo.is_completed %}
                            <input type="checkbox" checked/>
                            {% else %}
                            <input type="checkbox"/>
                            {% endif %}
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-primary">Update</button>
                        </td>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todo_post') }}">
                <td colspan="3">
                    {% if error_empty %}
                     <input type="textbox" name="description" class="small-6 small-center" placeholder="Must be non empty!">
                    {% else %}
                     <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                    {% endif %}

                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}